<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilgekod.naplog">

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/naplog_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/naplog_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".ShowDetailsActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>